/* Audio controls */
#audio-controls {
  height: 60px;
  background-color: #222;
  text-align: center;
  display: flex;
  z-index: 1999999;
}
#main-controls {
  display: inline-block;
  margin: auto;
  height: 100%;
}
#secondary-controls {
  display: inline-block;
  height: 100%;
  position: relative;
}
#volume-control {
  float: left;
  height: 100%;
  width: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Audio control buttons */
.audio-control {
  height: 100%;
  width: 60px;
  border: none;
  background: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  float: left;
  cursor: pointer;
}
.audio-control:not(:disabled):hover,
.audio-control:focus,
.audio-control.checked {
  background-color: rgba(255,255,255,0.08);
}
.disabled #main-controls, .disabled #speed-btn {
  opacity: 0.6;
  pointer-events: none;
}
/* This is used to show the icon */
.audio-control::after {
  content: "";
  width: 28px;
  height: 28px;
  display: inline-block;
  fill: white;
  margin-top: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComposite in="FillPaint" in2="SourceGraphic" operator="in"/></filter></svg>#a');
}
.audio-control.checked::after {
  fill: var(--theme-highlight-color);
}

/* Make fast rewind and fast forward icons smaller */
#fast-rewind::after,
#fast-forward::after {
  background-size: 80%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* Only webkit */  
  .audio-control::after {
    background-color: white;
    -webkit-mask-size: cover !important;
    margin-top: 4px;
    filter:none;
  }
  .audio-control.checked::after {
    background-color: var(--theme-highlight-color);
  }
  #play-pause::after {
    -webkit-mask: url(../img/pause.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
  #play-pause.paused::after {
    -webkit-mask: url(../img/play.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
  #stop::after {
    -webkit-mask: url(../img/stop.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
  #fast-rewind::after {
    -webkit-mask: url(../img/fast_rewind.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
  #fast-forward::after {
    -webkit-mask: url(../img/fast_forward.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
  #loop::after {
    -webkit-mask: url(../img/loop.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
  #speed-btn::after {
    -webkit-mask: url(../img/clock.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
  #settings-btn::after {
    -webkit-mask: url(../img/settings.svg) no-repeat 50% 50%;
    background-image:none !important;
  }
}
/* Icons */
#play-pause::after {
  background-image: url(../img/pause.svg);
}
#play-pause.paused::after {
  background-image: url(../img/play.svg)
}
#stop::after {
  background-image: url(../img/stop.svg)
}
#fast-rewind::after {
  background-image: url(../img/fast_rewind.svg);
}
#fast-forward::after {
  background-image: url(../img/fast_forward.svg);
}
#loop::after {
  background-image: url(../img/loop.svg)
}
#speed-btn {
  position: relative;
}
#speed-btn::after {
  background-image:  url(../img/clock.svg);
}
#speed-menu {
  position: absolute;
  width: 100px;
  transition: all .3s;
  left: 0;
  background-color: #f1f1f1;
  box-shadow: 0 0 3px #ccc;
  vertical-align: middle;
  z-index: 1000;
  border-radius: 2px;
  filter: invert(1);
}
#speed-menu > select {
  -moz-appearance: none;
  width: 100%;
  border: none;
  text-align: center;
  background: none;
  font: inherit;
  overflow: hidden;
  border-radius: 2px;
}
#speed-menu > select option {
  padding: 2px 0;
  -moz-appearance: none;
}
#speed-menu > select:focus > option:checked {
  filter: invert(1);
}
#speed-menu::after{
  content:"";
  position: absolute;
  left: 20px;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #f1f1f1 transparent transparent transparent;
}
#speed-btn.checked + #speed-menu{
  bottom: 100%;
  opacity:1;
}
#speed-btn.not-checked + #speed-menu{
  transform: scale(0.5);
  bottom: -100%;
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  pointer-events: none;
}
#settings-btn::after {
  background-image: url(../img/settings.svg);
}

/* Volume control */
#volume-icon {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  display: inline-block;
  background-size: cover;
  background-image: url(../img/volume_up.svg);
  -webkit-filter: invert(1);
  filter: invert(1);
}
#volume-icon.half {
  background-image: url(../img/volume_down.svg);
}
#volume-icon.mute {
  background-image: url(../img/volume_mute.svg);
}
#volume-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  flex: 1;
  min-width: none;
  cursor: pointer;
  height: 3px;
  margin: 0;
  transition: transform 0.2s;
  max-width: 120px !important;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--theme-highlight-color);
  height: 3px;
}
#volume-range::-moz-range-track {
  -moz-appearance: none;
  border: none;
  background: white;
  border-radius: 5px;
  height: 3px;
}
#volume-range::-moz-range-thumb {
  background: var(--theme-highlight-color);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: none;
}
#volume-range::-moz-range-progress {
  background-color: var(--theme-highlight-color);
  height: 3px;
}

#volume-range::-webkit-slider-track {
  -webkit-appearance: none;
  border: none;
  background: white;
  border-radius: 5px;
  height: 3px;
}
#volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--theme-highlight-color);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: none;
  transform: translateY(-50%);
}

/* "Progress bar" for audio */
#progress-bar {
  height: 5px;
  background: #121212;
  cursor: pointer;
  z-index: 1999999;
}
#progress {
  background: var(--theme-highlight-color);
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: top;
}
#tooltip {
  background: var(--theme-highlight-color);
  display: inline-block;
  position: absolute;
  font-size: 10px;
  padding: 2px;
  margin-top: -5px;
  margin-left: -35px;
  box-sizing: border-box;
  min-width: 35px;
  text-align: center;
  border-radius: 1px;
  z-index: 9;
  opacity: 0;
  transition: all 0.3s;
}
body:hover #tooltip {
  opacity: 1;
}
