/* Header */
.electron .header,
.header:not(:empty) {
  padding: 15px;
  font-size: 20px;
  position: sticky;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 999;
}

.electron.osx .header {
  text-align: center;
}

.electron #header {
  min-width: 0;
  flex: 1;
  padding: 15px;
  -webkit-app-region: drag;
}

.electron #header-container {
  display: flex;
  padding: 0;
}

.electron #header:empty::before {
  content: "Media Player";
}

.electron .caption-buttons {
  display: flex;
  height: 54px;
  padding: 0;
}

.electron .caption-button {
  background: none;
  border: none;
  margin: 0;
  flex: 1;
  padding: 0 5px;
}

.electron .caption-button:hover::before {
  background-color: rgba(0,0,0,0.1);
}

.electron .caption-button.close:hover::before {
  background-color: cyan;
}

.electron .light .caption-button.close:hover::before {
  filter: none;
}

.electron .caption-button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 10px;
  filter: invert(1);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.electron .caption-button.close::before {
  background-image: url(../img/electron/close.svg);
}

.electron .caption-button.maximize::before {
  background-image: url(../img/electron/maximize.svg);
}

.electron .caption-button.minimize::before {
  background-image: url(../img/electron/minimize.svg);
}