/* Header */
.header:not(:empty) {
  padding: 15px;
  font-size: 20px;
  position: sticky;
  top: 0;
  white-space: nowrap;
  z-index: 999;
}

.header,
#header {
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to left, transparent 0, black 75px);
  mask-image: linear-gradient(to left, transparent 0, black 75px);
  transition: font-size 0.5s, opacity 0.2s 1s;
}

.video #header-container {
  background-image: linear-gradient(rgba(20, 20, 20, 0.95), transparent);
}

.video:not(:hover) #header {
  opacity: 0;
}

.electron.osx .header {
  text-align: center;
}

.electron #header-container {
  padding: 0;
  display: flex;
  -webkit-mask-image: none;
  mask-image: none;
}

.electron #header,
.electron #settings-overlay .header {
  min-width: 0;
  flex: 1;
  padding: 15px;
  -webkit-app-region: drag;
}

.electron.osx #header,
.electron.osx #settings-overlay .header {
  padding: 15px 90px;
}

.electron #header:empty::before {
  content: "Media Player";
}

.electron .caption-buttons {
  display: flex;
  height: 54px;
  padding: 0;
}

.electron .caption-button {
  background: none;
  border: none;
  margin: 0;
  flex: 1;
  padding: 0 5px;
}

.electron .caption-button:hover::before,
.electron .caption-button:focus::before {
  background-color: rgba(0,0,0,0.1);
}

.electron .caption-button.close:hover::before,
.electron .caption-button.close:focus::before {
  background-color: #15ced9;
}

.electron .light .caption-button.close:focus::before,
.electron .light .caption-button.close:hover::before {
  filter: none;
}

.electron .caption-button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 10px;
  filter: invert(1);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.electron .caption-button.close::before {
  background-image: url(../img/electron/close.svg);
}

.electron .caption-button.maximize::before {
  background-image: url(../img/electron/maximize.svg);
}

.electron .caption-button.restore::before {
  background-image: url(../img/electron/restore.svg);
}

.electron .caption-button.minimize::before {
  background-image: url(../img/electron/minimize.svg);
}