.main-content {
  flex: 1;
  min-width: none;
  display: flex;
}


/* Canvas with visualizer */
#display-container {
  flex: 1;
  min-width: none;
  position: relative;
  overflow: auto;
}
#visualizer {
  display: block;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  image-rendering: -moz-crisp-edges;
  max-width: 90%;
}
#visualizer.placeholder {
  background: url(../img/musicicon.png) no-repeat center;
  background-size: 50%;
}

#menu {
    background: rgba(68, 68, 68, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: none;
}

#menu header {
    width: 100%;
    height: 50px;
    background: #222;
    border-bottom: 5px solid #000;
    color: #fff;
}

#menu header .return {
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 43px;
    text-indent: 4px;
    border-right: 1px dotted;
    display: inline-block;
    cursor: pointer;
}

#menu header span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
}
