.main-content {
  flex: 1;
  min-width: none;
  display: flex;
}


/* Canvas with visualizer */
#display-container {
  flex: 1;
  min-width: none;
  position: relative;
  overflow: auto;
}
#visualizer {
  display: block;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  image-rendering: -moz-crisp-edges;
  max-width: 90%;
}
#visualizer.placeholder {
  background: url(../img/musicicon.png) no-repeat center;
  background-size: 50%;
  fill: var(--theme-highlight-color);
  filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComposite in="FillPaint" in2="SourceGraphic" operator="in"/></filter></svg>#a');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  
  #visualizer.placeholder {
    background: none;
    -webkit-mask: url(../img/musicicon.png) no-repeat 50% 50%;
    -webkit-mask-size: 50% !important;
    background-color: var(--theme-highlight-color);
  }
}
/* Settings */
#settings-overlay {
  background: rgba(68, 68, 68, 0.9);
  bottom: 64px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  top: 100%;
  opacity: 0;
  transition: top .5s, opacity .5s;
}
#settings-overlay > div {
  padding: 15px;
}

.setting {
  max-width: 400px;
}
.setting input, .setting select {
  float: right;
}
