.main-content {
  flex: 1;
  min-width: none;
  display: flex;
}


/* Canvas with visualizer */
#display-container {
  flex: 1;
  min-width: none;
  position: relative;
  overflow: auto;
}
#visualizer {
  display: block;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  image-rendering: -moz-crisp-edges;
  max-width: 90%;
}
#visualizer.placeholder {
  background: url(../img/musicicon.png) no-repeat center;
  background-size: 50%;
  fill: var(--theme-highlight-color);
  filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComposite in="FillPaint" in2="SourceGraphic" operator="in"/></filter></svg>#a');
}
@supports ((-webkit-mask: url(../img/pause.svg)) or (mask-image: url(../img/pause.svg))) {  
  #visualizer.placeholder {
    filter: none;
    background-image: none;
    -webkit-mask-image: url(../img/musicicon.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 50%;

    mask-image: url(../img/musicicon.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;

    background-color: var(--theme-highlight-color);
  }
}

/* Settings */
#settings-overlay {
  background: rgba(68, 68, 68, 0.9);
  top: 0;
  bottom: 64px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  transition: transform .5s, opacity .5s;
}

#settings-overlay.hidden {
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
  pointer-events: none;
}

#settings-overlay > div {
  padding: 15px;
}

.setting {
  max-width: 400px;
}
.setting input, .setting select {
  float: right;
}
#AudioPlayer{
  width: 80%;
  min-width: 600px;
  min-height: 300px;
  height: auto;
  margin: auto;
  top: 0;right: 0;bottom: 0;left: 0;
  position: absolute;
}