@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(header.css);
@import url(sidebar.css);
@import url(playlist.css);
@import url(main_content.css);
@import url(controls.css);
/* General styles */
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(68, 68, 68, 0.9);
	color: white;
	font-family: Montserrat, Roboto, Arial, sans-serif;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
}




/* Make everything responsive */
@media (max-width: 560px) {
  #volume-control:not(:hover) {
    width: 50px;
  }
  #volume-control:not(:hover) #volume-range {
    transform: scale(0)
  }
  #volume-control:hover + #main-controls {
    flex: 0;
    opacity: 0;
  }
  #sidebar {
    max-width: 200px;
  }
}
@media (max-width: 450px) {
  .audio-control {
    padding: 0;
    width: 45px;
  }
  #display-container {
    display: none;
  }
  #sidebar {
    max-width: none;
    width: 100%;
  }
  #volume-control:not(:hover) {
    width: 30px;
  }
  #volume-icon {
    margin: 0 5px;
  }
}

@media (max-width:340px) {
  #secondary-controls {
    width: 30px;
  }
  #secondary-controls .audio-control {
    height: 30px;
    width: 30px;
  }
  #secondary-controls .audio-control::after {
    width: 20px;
    height: 20px;
  }
  #speed-menu,
  #speed-menu::after{
    left: auto;
    right: 3px;
  }
}