@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(header.css);
@import url(sidebar.css);
@import url(playlist.css);
@import url(main_content.css);
@import url(controls.css);
/* General styles */
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(68, 68, 68, 0.9);
	color: white;
	font-family: Montserrat, Roboto, Arial, sans-serif;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
}




/* Make everything responsive */
@media (max-width: 650px) {
	#volume-control:not(:hover) {
		width: 27px;
		padding: 20px 4px;
	}
	#volume-control:not(:hover) #volume-range {
		width: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		opacity: 0;
	}
	#volume-control {
		z-index: 8;
		background-color: #222;
		position: absolute;
		transition: all 0.3s;
		border-color: #111;
	}
	#volume-control:hover {
		border-right: 1px solid #111;
	}
}
@media (max-width: 551px) {
	#audio-controls {
		height: 120px;
	}
	#main-controls, #secondary-controls {
		height: 50%;
	}
	#secondary-controls {
		position: relative;
		display: block;
		float: right;
		overflow: auto;
		width: 100%;
		text-align: center;
	}
	#secondary-controls > .audio-control {
		float: none;
		display: inline-block;
	}
	#main-controls {
		float: right;
	}
}
